---
import Layout from '../layouts/Layout.astro';
import data from "@public/data.json";

---

<Layout>
    <a href="/">Volver al inicio</a>
	<h1>Product Catalog</h1>
	{data.map((item) => (
		<div>
			<h2>{item.nombre}</h2>
			<p>{item.descripcion}</p>
			<p>${item.precio.toLocaleString()}</p>
			{item.media.length > 0 && <img src={item.media[0]} alt={item.nombre} />}
			<a href={`/product/${item.nombre.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '')}`}>
				<button>Ver detalles</button>
			</a>
		</div>
	))}


<a href="/">Volver al inicio</a>
</Layout>
